*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.home {
    height: 100vh;
    width: 100%;
    background-color: #e7dfd8;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: #574533;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px ;
}
nav ul li a {
    color: #574533;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: black;
    transition: 0,5s;
}

.sosial-icon {
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 48em;
    width: 4em;
   
}